<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h1>Portfolio</h1><br>
  <h1 style="padding: 25px;">What we have created</h1>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/paris.jpg" alt="" style="width: 400px; height: 300px;">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/new york.jpg" alt="" style="width: 400px; height: 300px;">

        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/images/San Francisco.jpg" alt="" style="width: 400px; height: 300px;">

        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div><br>

